/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
/*--------->Variables<-----------*/
:root {
  --black: #000000;
  --dark: #141414;
  --green: #39ff14;
  --grey: #E1E1E1;
  --light-dark: #1B1B1B;
  --light-grey: #F3F3F3;
  --white: #ffffff;
}

body {
  background: var(--dark);
  color: var(--white);
  text-align: center;
  margin: 0;
  padding: 0;
}

/*This hold the max width of the container*/
.container {
  margin: 0 auto;
  width: 480px;
  text-align: center;
  
}

#main-content {
  width: 100%;
  margin: 0;
  display: grid;
  /* grid-template-columns: repeat(userChose, 1fr); */
  padding: 0;
  border: 30px solid red;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;

}

.button-p {
  padding: 10px 5px;
}


.button-p a {
  color: var(--green);
  border: 1px solid var(--grey);
  text-decoration: none;
  margin-right: 5px;
  padding: 10px 25px;
}

.button-p a:hover {
  color: var(--black);
  text-decoration: none;
  background: var(--white);
}

/*16x16 grid*/
.squareDiv {
  /* width: 30px; */
  /* height: 30px; */
  background: var(--grey)
    /* margin-bottom: 5px; */
    /* margin-right: 5px; */
}

/*--------->General Styles<-----------*/


/*--------->HEADER<-----------*/

/*--------->Main<-----------*/


/*--------->Media Queries<-----------*/
@media screen and (max-width: 699px) {}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;
- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;
*/